/* || colors  */
$Strong-Cyan: hsl(171, 66%, 44%);
$Strong-Cyan-Shadow: hsl(171, 64%, 39%);
$Light-Blue: hsl(233, 100%, 69%);
$Light-Blue-Shadow: hsl(233, 100%, 65%);
$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);
$Footer-Bg: hsl(0, 0%, 83%);
$Btn-Text-Color: hsl(0, 100%, 100%);

/* || typografi  */
$Font-Size: 1.2rem;
$Font-Family: "Bai Jamjuree", sans-serif;
